.boder-radius img {
    width: 60px;
    height: 60px;
    padding: 0;
    border: 0 solid red;
    border-radius: 50%;

}
header,footer{
    background-color:  rgb(5, 137, 214);
}
header h1 {
    color: white;

}
footer p {
    color: white;

}
.course h1 {
    color: blue ;
}
.box {
    padding: 0;
    border: 1px solid #000;
    width: 220px;
    height: 310px;
    border-radius: 5px;
}
.box img {
    padding: 0;
    border: 0;
    width: 220px;
    height: 120px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.soldout-course {
    padding: 10px;
    border: 0;
}
.soldout-course img {
    width: 60px;
    height: 60px;
    padding: 0;
    border: 0 solid red;
    border-radius: 50%;
    
}
.price p {
    text-align: right;
    color: red;
}
  header,main,footer {
    padding-left: 120px;
}
.text p {
     text-align: left;
}